openapi: 3.0.3
info:
  title: ohsome API - Data Extraction
  description: |-
    This API provides access to OpenStreetMap (OSM) history data through two main resource types:

    - **Contributions**: Events of object creation, modification, or deletion.
    - **Elements**: Snapshots of OSM objects as they existed at specific moments in time.

    The data is returned as a GeoJSON FeatureCollection. The API supports complex spatial and temporal filtering and allows customization of the output geometry and properties.

    - All endpoints support both `GET` and `POST` requests. For `POST` requests, parameters should be sent in the body with a content type of `application/x-www-form-urlencoded`.
    - At least one boundary parameter (`bpolys`, `bboxes`, or `bcircles`) must be provided.
  version: 1.6.0
  contact:
    name: HeiGIT - Heidelberg Institute for Geoinformation Technology
    url: https://heigit.org/
    email: ohsome@heigit.org
  license:
    name: 'Data: © OpenStreetMap contributors | Database: ODbL 1.0'
    url: https://www.openstreetmap.org/copyright
servers:
  - url: https://api.ohsome.org/v1
    description: ohsome API Production Server
tags:
  - name: Contributions Extraction
    description: Endpoints for extracting OSM contribution data as GeoJSON.
  - name: Elements Extraction
    description: Endpoints for extracting OSM data snapshots as GeoJSON.
paths:
  /metadata:
    get:
      tags:
        - Metadata
      summary: Get metadata of the OSHDB data
      description: Returns metadata about the underlying OSHDB data extract, including its spatial and temporal coverage. This endpoint does not accept any parameters.
      operationId: getMetadata
      responses:
        '200':
          description: A successful response containing the OSHDB metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
        '400':
          description: Bad Request. This error is returned if any query parameters are unexpectedly provided to the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contributions/geometry:
    get:
      tags:
        - Contributions Extraction
      summary: Get contributions with raw object geometry
      description: |-
        Returns all contributions within the given time range and spatial boundaries.
        Each feature in the response will have the full, detailed geometry of the respective OSM object at the time of the contribution.
      operationId: contributionsGeometry
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesContributions'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Contributions Extraction
      summary: Get contributions with raw object geometry (POST)
      description: |-
        Returns all contributions within the given time range and spatial boundaries.
        Each feature in the response will have the full, detailed geometry of the respective OSM object at the time of the contribution.
        This method is useful for passing large `bpolys` GeoJSON objects that may exceed URL length limits.
      operationId: contributionsGeometry_post
      requestBody:
        $ref: '#/components/requestBodies/ContributionsExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contributions/bbox:
    get:
      tags:
        - Contributions Extraction
      summary: Get contributions with bounding box geometry
      description: |-
        Returns all contributions within the given time range and spatial boundaries.
        The `geometry` of each feature will be the bounding box of the respective OSM object.
      operationId: contributionsBbox
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesContributions'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Contributions Extraction
      summary: Get contributions with bounding box geometry (POST)
      description: |-
        Returns all contributions within the given time range and spatial boundaries.
        The `geometry` of each feature will be the bounding box of the respective OSM object.
      operationId: contributionsBbox_post
      requestBody:
        $ref: '#/components/requestBodies/ContributionsExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contributions/centroid:
    get:
      tags:
        - Contributions Extraction
      summary: Get contributions with centroid geometry
      description: |-
        Returns all contributions within the given time range and spatial boundaries.
        The `geometry` of each feature will be the centroid of the respective OSM object.
      operationId: contributionsCentroid
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesContributions'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Contributions Extraction
      summary: Get contributions with centroid geometry (POST)
      description: |-
        Returns all contributions within the given time range and spatial boundaries.
        The `geometry` of each feature will be the centroid of the respective OSM object.
      operationId: contributionsCentroid_post
      requestBody:
        $ref: '#/components/requestBodies/ContributionsExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contributions/latest/geometry:
    get:
      tags:
        - Contributions Extraction
      summary: Get latest contributions with raw object geometry
      description: |-
        Returns only the most recent contribution for each OSM entity within the given time range and spatial boundaries.
        Each feature in the response will have the full, detailed geometry of the respective OSM object.
      operationId: contributionsLatestGeometry
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesContributions'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Contributions Extraction
      summary: Get latest contributions with raw object geometry (POST)
      description: |-
        Returns only the most recent contribution for each OSM entity within the given time range and spatial boundaries.
        Each feature in the response will have the full, detailed geometry of the respective OSM object.
      operationId: contributionsLatestGeometry_post
      requestBody:
        $ref: '#/components/requestBodies/ContributionsExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contributions/latest/bbox:
    get:
      tags:
        - Contributions Extraction
      summary: Get latest contributions with bounding box geometry
      description: |-
        Returns only the most recent contribution for each OSM entity within the given time range and spatial boundaries.
        The `geometry` of each feature will be the bounding box of the respective OSM object.
      operationId: contributionsLatestBbox
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesContributions'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Contributions Extraction
      summary: Get latest contributions with bounding box geometry (POST)
      description: |-
        Returns only the most recent contribution for each OSM entity within the given time range and spatial boundaries.
        The `geometry` of each feature will be the bounding box of the respective OSM object.
      operationId: contributionsLatestBbox_post
      requestBody:
        $ref: '#/components/requestBodies/ContributionsExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /contributions/latest/centroid:
    get:
      tags:
        - Contributions Extraction
      summary: Get latest contributions with centroid geometry
      description: |-
        Returns only the most recent contribution for each OSM entity within the given time range and spatial boundaries.
        The `geometry` of each feature will be the centroid of the respective OSM object.
      operationId: contributionsLatestCentroid
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesContributions'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Contributions Extraction
      summary: Get latest contributions with centroid geometry (POST)
      description: |-
        Returns only the most recent contribution for each OSM entity within the given time range and spatial boundaries.
        The `geometry` of each feature will be the centroid of the respective OSM object.
      operationId: contributionsLatestCentroid_post
      requestBody:
        $ref: '#/components/requestBodies/ContributionsExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessContributionsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /elements/geometry:
    get:
      tags:
        - Elements Extraction
      summary: Get OSM data with raw object geometry
      description: |-
        Returns a snapshot of OSM data within the given spatial boundaries at one or more specified timestamps.
        Each feature in the response will have the full, detailed geometry of the respective OSM object.
      operationId: elementsGeometry
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesElements'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessElementsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Elements Extraction
      summary: Get OSM data with raw object geometry (POST)
      description: |-
        Returns a snapshot of OSM data within the given spatial boundaries at one or more specified timestamps.
        Each feature in the response will have the full, detailed geometry of the respective OSM object.
        This method is useful for passing large `bpolys` GeoJSON objects that may exceed URL length limits.
      operationId: elementsGeometry_post
      requestBody:
        $ref: '#/components/requestBodies/ElementsExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessElementsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /elements/bbox:
    get:
      tags:
        - Elements Extraction
      summary: Get OSM data with bounding box geometry
      description: Returns a snapshot of OSM data. The `geometry` of each feature will be the bounding box of the respective OSM object.
      operationId: elementsBbox
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesElements'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessElementsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Elements Extraction
      summary: Get OSM data with bounding box geometry (POST)
      description: Returns a snapshot of OSM data. The `geometry` of each feature will be the bounding box of the respective OSM object.
      operationId: elementsBbox_post
      requestBody:
        $ref: '#/components/requestBodies/ElementsExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessElementsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /elements/centroid:
    get:
      tags:
        - Elements Extraction
      summary: Get OSM data with centroid geometry
      description: Returns a snapshot of OSM data. The `geometry` of each feature will be the centroid of the respective OSM object.
      operationId: elementsCentroid
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesElements'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessElementsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Elements Extraction
      summary: Get OSM data with centroid geometry (POST)
      description: Returns a snapshot of OSM data. The `geometry` of each feature will be the centroid of the respective OSM object.
      operationId: elementsCentroid_post
      requestBody:
        $ref: '#/components/requestBodies/ElementsExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessElementsExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /elementsFullHistory/geometry:
    get:
      tags:
        - Full History Elements Extraction
      summary: Get full history with raw object geometry
      description: Returns the full version history of OSM data within a given spatial and temporal interval. Each feature in the response will have the full, detailed geometry of the respective OSM object version.
      operationId: elementsFullHistory
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesElements'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessFullHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Full History Elements Extraction
      summary: Get full history with raw object geometry (POST)
      description: |-
        Returns the full version history of OSM data within a given spatial and temporal interval. Each feature in the response will have the full, detailed geometry of the respective OSM object version.
        This method is useful for passing large `bpolys` GeoJSON objects that may exceed URL length limits.
      operationId: elementsFullHistory_post
      requestBody:
        $ref: '#/components/requestBodies/FullHistoryExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessFullHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /elementsFullHistory/bbox:
    get:
      tags:
        - Full History Elements Extraction
      summary: Get full history with bounding box geometry
      description: Returns the full version history of OSM data. The `geometry` of each feature will be the bounding box of the respective OSM object version.
      operationId: elementsBboxFullHistory
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesElements'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessFullHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Full History Elements Extraction
      summary: Get full history with bounding box geometry (POST)
      description: Returns the full version history of OSM data. The `geometry` of each feature will be the bounding box of the respective OSM object version.
      operationId: elementsBboxFullHistory_post
      requestBody:
        $ref: '#/components/requestBodies/FullHistoryExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessFullHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /elementsFullHistory/centroid:
    get:
      tags:
        - Full History Elements Extraction
      summary: Get full history with centroid geometry
      description: Returns the full version history of OSM data. The `geometry` of each feature will be the centroid of the respective OSM object version.
      operationId: elementsCentroidFullHistory
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/propertiesElements'
        - $ref: '#/components/parameters/clipGeometry'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessFullHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
        - Full History Elements Extraction
      summary: Get full history with centroid geometry (POST)
      description: Returns the full version history of OSM data. The `geometry` of each feature will be the centroid of the respective OSM object version.
      operationId: elementsCentroidFullHistory_post
      requestBody:
        $ref: '#/components/requestBodies/FullHistoryExtractionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessFullHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /users/count:
    get:
      tags:
        - Users Count
      summary: Get the count of unique OSM users
      description: Calculates the total number of unique OSM users who made contributions matching the filter criteria within the given time interval.
      operationId: countUsers
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Users Count
      summary: Get the count of unique OSM users (POST)
      description: Calculates the total number of unique OSM users who made contributions matching the filter criteria within the given time interval.
      operationId: countUsers_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /users/count/groupBy/type:
    get:
      tags:
        - Users Count
      summary: Get user count grouped by OSM type
      description: Calculates the number of unique OSM users, grouped by the type of OSM element they contributed to (node, way, relation).
      operationId: countUsersGroupByType
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Users Count
      summary: Get user count grouped by OSM type (POST)
      description: Calculates the number of unique OSM users, grouped by the type of OSM element they contributed to (node, way, relation).
      operationId: countUsersGroupByType_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /users/count/groupBy/tag:
    get:
      tags:
        - Users Count
      summary: Get user count grouped by tag
      description: Calculates the number of unique OSM users, grouped by specific OSM tags (key-value pairs) on the elements they contributed to.
      operationId: countUsersGroupByTag
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKey'
        - $ref: '#/components/parameters/groupByValues'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Users Count
      summary: Get user count grouped by tag (POST)
      description: Calculates the number of unique OSM users, grouped by specific OSM tags (key-value pairs) on the elements they contributed to.
      operationId: countUsersGroupByTag_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByTagRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /users/count/groupBy/key:
    get:
      tags:
        - Users Count
      summary: Get user count grouped by key
      description: Calculates the number of unique OSM users, grouped by the specified OSM keys present on the elements they contributed to.
      operationId: countUsersGroupByKey
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKeys'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Users Count
      summary: Get user count grouped by key (POST)
      description: Calculates the number of unique OSM users, grouped by the specified OSM keys present on the elements they contributed to.
      operationId: countUsersGroupByKey_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByKeyRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /users/count/groupBy/boundary:
    get:
      tags:
        - Users Count
      summary: Get user count grouped by boundary
      description: Calculates the number of unique OSM users, grouped by the individual geometries provided in the boundary parameter (`bpolys`, `bboxes`, `bcircles`). The response can be JSON or GeoJSON.
      operationId: countUsersGroupByBoundary
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Users Count
      summary: Get user count grouped by boundary (POST)
      description: Calculates the number of unique OSM users, grouped by the individual geometries provided in the boundary parameter (`bpolys`, `bboxes`, `bcircles`). The response can be JSON or GeoJSON.
      operationId: countUsersGroupByBoundary_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /users/count/density:
    get:
      tags:
        - Users Count
      summary: Get the density of unique OSM users
      description: Calculates the density of unique OSM users (number of users per square kilometer) who made contributions matching the filter criteria.
      operationId: countUsersDensity
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Users Count
      summary: Get the density of unique OSM users (POST)
      description: Calculates the density of unique OSM users (number of users per square kilometer) who made contributions matching the filter criteria.
      operationId: countUsersDensity_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /users/count/density/groupBy/type:
    get:
      tags:
        - Users Count
      summary: Get user density grouped by OSM type
      description: Calculates the density of unique OSM users, grouped by the type of OSM element they contributed to (node, way, relation).
      operationId: countUsersDensityGroupByType
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Users Count
      summary: Get user density grouped by OSM type (POST)
      description: Calculates the density of unique OSM users, grouped by the type of OSM element they contributed to (node, way, relation).
      operationId: countUsersDensityGroupByType_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /users/count/density/groupBy/tag:
    get:
      tags:
        - Users Count
      summary: Get user density grouped by tag
      description: Calculates the density of unique OSM users, grouped by specific OSM tags (key-value pairs) on the elements they contributed to.
      operationId: countUsersDensityGroupByTag
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKey'
        - $ref: '#/components/parameters/groupByValues'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Users Count
      summary: Get user density grouped by tag (POST)
      description: Calculates the density of unique OSM users, grouped by specific OSM tags (key-value pairs) on the elements they contributed to.
      operationId: countUsersDensityGroupByTag_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByTagRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /users/count/density/groupBy/boundary:
    get:
      tags:
        - Users Count
      summary: Get user density grouped by boundary
      description: Calculates the density of unique OSM users, grouped by the individual geometries provided in the boundary parameter. The response can be JSON or GeoJSON.
      operationId: countUsersDensityGroupByBoundary
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Users Count
      summary: Get user density grouped by boundary (POST)
      description: Calculates the density of unique OSM users, grouped by the individual geometries provided in the boundary parameter. The response can be JSON or GeoJSON.
      operationId: countUsersDensityGroupByBoundary_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /contributions/count:
    get:
      tags:
        - Contributions Count
      summary: Get the count of OSM contributions
      description: Calculates the total number of OSM contributions (creations, modifications, deletions) that match the filter criteria within the given time interval.
      operationId: contributionsCount
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Contributions Count
      summary: Get the count of OSM contributions (POST)
      description: Calculates the total number of OSM contributions (creations, modifications, deletions) that match the filter criteria within the given time interval.
      operationId: contributionsCount_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /contributions/count/density:
    get:
      tags:
        - Contributions Count
      summary: Get the density of OSM contributions
      description: Calculates the density of OSM contributions (number of contributions per square kilometer) that match the filter criteria.
      operationId: contributionsCountDensity
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Contributions Count
      summary: Get the density of OSM contributions (POST)
      description: Calculates the density of OSM contributions (number of contributions per square kilometer) that match the filter criteria.
      operationId: contributionsCountDensity_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /contributions/latest/count:
    get:
      tags:
        - Contributions Count
      summary: Get the count of latest OSM contributions
      description: For each OSM element matching the filter, this counts only its single most recent contribution within the time interval.
      operationId: contributionsLatestCount
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Contributions Count
      summary: Get the count of latest OSM contributions (POST)
      description: For each OSM element matching the filter, this counts only its single most recent contribution within the time interval.
      operationId: contributionsLatestCount_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /contributions/latest/count/density:
    get:
      tags:
        - Contributions Count
      summary: Get the density of latest OSM contributions
      description: For each OSM element matching the filter, this calculates the density of its single most recent contribution within the time interval.
      operationId: contributionsLatestCountDensity
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Contributions Count
      summary: Get the density of latest OSM contributions (POST)
      description: For each OSM element matching the filter, this calculates the density of its single most recent contribution within the time interval.
      operationId: contributionsLatestCountDensity_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /contributions/count/groupBy/boundary:
    get:
      tags:
        - Contributions Count
      summary: Get contribution count grouped by boundary
      description: Calculates the number of OSM contributions, grouped by the individual geometries provided in the boundary parameter (`bpolys`, `bboxes`, `bcircles`). The response can be JSON or GeoJSON.
      operationId: contributionsCountGroupByBoundary
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Contributions Count
      summary: Get contribution count grouped by boundary (POST)
      description: Calculates the number of OSM contributions, grouped by the individual geometries provided in the boundary parameter (`bpolys`, `bboxes`, `bcircles`). The response can be JSON or GeoJSON.
      operationId: contributionsCountGroupByBoundary_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /contributions/count/density/groupBy/boundary:
    get:
      tags:
        - Contributions Count
      summary: Get contribution density grouped by boundary
      description: Calculates the density of OSM contributions, grouped by the individual geometries provided in the boundary parameter. The response can be JSON or GeoJSON.
      operationId: contributionsCountDensityGroupByBoundary
      parameters:
        - $ref: '#/components/parameters/timeInterval'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/contributionType'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Contributions Count
      summary: Get contribution density grouped by boundary (POST)
      description: Calculates the density of OSM contributions, grouped by the individual geometries provided in the boundary parameter. The response can be JSON or GeoJSON.
      operationId: contributionsCountDensityGroupByBoundary_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area:
    get:
      tags:
        - Elements Area
      summary: Get the total area of OSM elements
      description: Calculates the total area (in square meters) of OSM elements that match the filter criteria at one or more specified timestamps.
      operationId: area
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get the total area of OSM elements (POST)
      operationId: area_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/groupBy/type:
    get:
      tags:
        - Elements Area
      summary: Get element area grouped by OSM type
      description: Calculates the total area of OSM elements, grouped by their type (node, way, relation).
      operationId: areaGroupByType
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get element area grouped by OSM type (POST)
      operationId: areaGroupByType_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/groupBy/boundary:
    get:
      tags:
        - Elements Area
      summary: Get element area grouped by boundary
      description: Calculates the total area of OSM elements, grouped by the individual geometries provided in the boundary parameter. The response can be JSON or GeoJSON.
      operationId: areaGroupByBoundary
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get element area grouped by boundary (POST)
      operationId: areaGroupByBoundary_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/groupBy/boundary/groupBy/tag:
    get:
      tags:
        - Elements Area
      summary: Get element area grouped by boundary and tag
      description: Calculates the total area of OSM elements, grouped first by the individual boundary geometries and then by tag.
      operationId: areaGroupByBoundaryGroupByTag
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKey'
        - $ref: '#/components/parameters/groupByValues'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get element area grouped by boundary and tag (POST)
      operationId: areaGroupByBoundaryGroupByTag_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByTagRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/groupBy/key:
    get:
      tags:
        - Elements Area
      summary: Get element area grouped by key
      description: Calculates the total area of OSM elements, grouped by the specified OSM keys.
      operationId: areaGroupByKey
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKeys'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get element area grouped by key (POST)
      operationId: areaGroupByKey_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByKeyRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/groupBy/tag:
    get:
      tags:
        - Elements Area
      summary: Get element area grouped by tag
      description: Calculates the total area of OSM elements, grouped by specific OSM tags (key-value pairs).
      operationId: areaGroupByTag
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKey'
        - $ref: '#/components/parameters/groupByValues'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get element area grouped by tag (POST)
      operationId: areaGroupByTag_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByTagRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/density:
    get:
      tags:
        - Elements Area
      summary: Get the density of element area
      description: Calculates the area density (total area of elements per square kilometer of the boundary area) for elements matching the filter criteria.
      operationId: areaDensity
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get the density of element area (POST)
      operationId: areaDensity_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/density/groupBy/type:
    get:
      tags:
        - Elements Area
      summary: Get element area density grouped by type
      description: Calculates the area density of OSM elements, grouped by their type.
      operationId: areaDensityGroupByType
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get element area density grouped by type (POST)
      operationId: areaDensityGroupByType_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/density/groupBy/boundary:
    get:
      tags:
        - Elements Area
      summary: Get element area density grouped by boundary
      description: Calculates the area density of OSM elements, grouped by the individual geometries provided in the boundary parameter. The response can be JSON or GeoJSON.
      operationId: areaDensityGroupByBoundary
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get element area density grouped by boundary (POST)
      operationId: areaDensityGroupByBoundary_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/density/groupBy/boundary/groupBy/tag:
    get:
      tags:
        - Elements Area
      summary: Get element area density grouped by boundary and tag
      description: Calculates the area density of OSM elements, grouped first by the individual boundary geometries and then by tag.
      operationId: areaDensityGroupByBoundaryGroupByTag
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKey'
        - $ref: '#/components/parameters/groupByValues'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get element area density grouped by boundary and tag (POST)
      operationId: areaDensityGroupByBoundaryGroupByTag_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByTagRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/density/groupBy/tag:
    get:
      tags:
        - Elements Area
      summary: Get element area density grouped by tag
      description: Calculates the area density of OSM elements, grouped by specific OSM tags.
      operationId: areaDensityGroupByTag
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKey'
        - $ref: '#/components/parameters/groupByValues'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get element area density grouped by tag (POST)
      operationId: areaDensityGroupByTag_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByTagRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/ratio:
    get:
      tags:
        - Elements Area
      summary: Get the ratio of element area between two filters
      description: Calculates the ratio of the total area of elements matching `filter2` to the total area of elements matching `filter`.
      operationId: areaRatio
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filter2'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessRatioResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get the ratio of element area between two filters (POST)
      operationId: areaRatio_post
      requestBody:
        $ref: '#/components/requestBodies/RatioRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessRatioResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/area/ratio/groupBy/boundary:
    get:
      tags:
        - Elements Area
      summary: Get the area ratio grouped by boundary
      description: Calculates the area ratio between two filters, grouped by the individual geometries provided in the boundary parameter.
      operationId: areaRatioGroupByBoundary
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filter2'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/SuccessRatioGroupByBoundaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Area
      summary: Get the area ratio grouped by boundary (POST)
      operationId: areaRatioGroupByBoundary_post
      requestBody:
        $ref: '#/components/requestBodies/RatioRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessRatioGroupByBoundaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count:
    get:
      tags:
        - Elements Count
      summary: Get the count of OSM elements
      description: Calculates the total number of OSM elements that match the filter criteria at one or more specified timestamps.
      operationId: count
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get the count of OSM elements (POST)
      operationId: count_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/groupBy/type:
    get:
      tags:
        - Elements Count
      summary: Get element count grouped by OSM type
      description: Calculates the number of OSM elements, grouped by their type (node, way, relation).
      operationId: countGroupByType
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get element count grouped by OSM type (POST)
      operationId: countGroupByType_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/groupBy/boundary:
    get:
      tags:
        - Elements Count
      summary: Get element count grouped by boundary
      description: Calculates the number of OSM elements, grouped by the individual geometries provided in the boundary parameter. The response can be JSON or GeoJSON.
      operationId: countGroupByBoundary
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get element count grouped by boundary (POST)
      operationId: countGroupByBoundary_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/groupBy/boundary/groupBy/tag:
    get:
      tags:
        - Elements Count
      summary: Get element count grouped by boundary and tag
      description: Calculates the number of OSM elements, grouped first by the individual boundary geometries and then by tag.
      operationId: countGroupByBoundaryGroupByTag
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKey'
        - $ref: '#/components/parameters/groupByValues'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get element count grouped by boundary and tag (POST)
      operationId: countGroupByBoundaryGroupByTag_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByTagRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/groupBy/key:
    get:
      tags:
        - Elements Count
      summary: Get element count grouped by key
      description: Calculates the number of OSM elements, grouped by the specified OSM keys.
      operationId: countGroupByKey
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKeys'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get element count grouped by key (POST)
      operationId: countGroupByKey_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByKeyRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/groupBy/tag:
    get:
      tags:
        - Elements Count
      summary: Get element count grouped by tag
      description: Calculates the number of OSM elements, grouped by specific OSM tags (key-value pairs).
      operationId: countGroupByTag
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKey'
        - $ref: '#/components/parameters/groupByValues'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get element count grouped by tag (POST)
      operationId: countGroupByTag_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByTagRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/density:
    get:
      tags:
        - Elements Count
      summary: Get the density of elements
      description: Calculates the count density (number of elements per square kilometer) for elements matching the filter criteria.
      operationId: countDensity
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get the density of elements (POST)
      operationId: countDensity_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessAggregationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/density/groupBy/type:
    get:
      tags:
        - Elements Count
      summary: Get element count density grouped by type
      description: Calculates the count density of OSM elements, grouped by their type.
      operationId: countDensityGroupByType
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get element count density grouped by type (POST)
      operationId: countDensityGroupByType_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/density/groupBy/boundary:
    get:
      tags:
        - Elements Count
      summary: Get element count density grouped by boundary
      description: Calculates the count density of OSM elements, grouped by the individual geometries provided in the boundary parameter. The response can be JSON or GeoJSON.
      operationId: countDensityGroupByBoundary
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get element count density grouped by boundary (POST)
      operationId: countDensityGroupByBoundary_post
      requestBody:
        $ref: '#/components/requestBodies/AggregationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/density/groupBy/boundary/groupBy/tag:
    get:
      tags:
        - Elements Count
      summary: Get element count density grouped by boundary and tag
      description: Calculates the count density of OSM elements, grouped first by the individual boundary geometries and then by tag.
      operationId: countDensityGroupByBoundaryGroupByTag
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKey'
        - $ref: '#/components/parameters/groupByValues'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get element count density grouped by boundary and tag (POST)
      operationId: countDensityGroupByBoundaryGroupByTag_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByTagRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/density/groupBy/tag:
    get:
      tags:
        - Elements Count
      summary: Get element count density grouped by tag
      description: Calculates the count density of OSM elements, grouped by specific OSM tags.
      operationId: countDensityGroupByTag
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/groupByKey'
        - $ref: '#/components/parameters/groupByValues'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/keys'
        - $ref: '#/components/parameters/values'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
      summary: Get element count density grouped by tag (POST)
      operationId: countDensityGroupByTag_post
      requestBody:
        $ref: '#/components/requestBodies/GroupByTagRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessGroupByResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /elements/count/ratio:
    get:
      tags:
        - Elements Count
      summary: Get the ratio of element count between two filters
      description: Calculates the ratio of the count of elements matching `filter2` to the count of elements matching `filter`.
      operationId: countRatio
      parameters:
        - $ref: '#/components/parameters/timeSnapshot'
        - $ref: '#/components/parameters/bpolys'
        - $ref: '#/components/parameters/bboxes'
        - name: format
          in: query
          required: false
          description: Response format; one of "json", "csv", or "geojson".
          schema:
            type: string
            enum:
              - json
              - csv
              - geojson
        - $ref: '#/components/parameters/bcircles'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/filter2'
        - $ref: '#/components/parameters/showMetadata'
        - $ref: '#/components/parameters/timeout'
      responses:
        '200':
          $ref: '#/components/responses/SuccessRatioResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Elements Count
[...]
